.table{
    width: 100%;
}
thead{
    background-color: #ddd;
    font-weight: bold;
}
th{
    max-width: 4rem !important;
    padding:6px;
}
tr,th,td{
    border: 1px solid #ddd;
}

td{
    text-align: center;
    padding:8px;
}